.sub-title {
  color: #888;
  font-size: 14px;
  padding: 15px 0 9px 15px;
  text-align: center;
  background-color: #fff;
}

.btn-r {
  width: 60px;
  height: 30px;
  line-height: 30px;
}
.top-one{
  display: flex;
  justify-content: space-between;
}
.am-badge-text{
  position: absolute;
  top: -26px;
  right: -47px;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}